In [2]:
import pandas as pd
from datetime import datetime, date

In [ ]:
clienti = []

cliente = {
        "Numero Cliente": [],
        "Nome": [],
        "Cognome": [],
        "Data di Nascita": [],
        "Regione":[]   
    }

while True:

    try:
        n = int(input("Numero Cliente: "))
    except ValueError:
        print("Inserisci un numero intero.")
        continue

    if n == 0:
        print("Inserimento terminato.")
        break

    nome = input("Nome: ").strip()
    cognome = input("Cognome: ").strip()

    while True:
        nascita_str = input("  Data di Nascita (YYYY-MM-DD): ").strip()
        try:
            data_nascita = datetime.strptime(nascita_str, "%Y-%m-%d").date()  
            break
        except ValueError:
            print("Formato non valido. Riprova (es. 2003-11-02).")

    regione = input("Regione di Residenza: ").strip()


    cliente["Numero Cliente"].append(n)
    cliente["Nome"].append(nome)
    cliente["Cognome"].append(cognome)
    cliente["Data di Nascita"].append(data_nascita)
    cliente["Regione"].append(regione)
       
    
    
    print("Cliente aggiunto!\n")

print(cliente)

➡️ Cliente aggiunto!

➡️ Cliente aggiunto!

➡️ Cliente aggiunto!

Inserimento terminato.
{'Numero Cliente': [1, 2, 3], 'Nome': ['Ciao', 'Ciao', 'Ciao'], 'Cognome': ['Ciao', 'Ciao', 'ciao'], 'Data di Nascita': [datetime.date(2000, 1, 1), datetime.date(2020, 1, 1), datetime.date(2009, 1, 2)], 'Regione': ['Regione', 'Regione', 'Residenza']}

In [4]:
df = pd.DataFrame(cliente)
d = date.today()

def calcola_eta(dn):
    anni = d.year - dn.year

    if (d.month, d.day) < (dn.month, dn.day):
        anni -= 1
    return anni

In [6]:
df

   Numero Cliente  Nome Cognome Data di Nascita    Regione
0               1  Ciao    Ciao      2000-01-01    Regione
1               2  Ciao    Ciao      2020-01-01    Regione
2               3  Ciao    ciao      2009-01-02  Residenza

In [7]:
df["Età"] = df["Data di Nascita"].apply(calcola_eta)

df["Minorenne"] = df["Età"].apply(lambda x: "X" if x < 18 else "")
df["Eta>17"]    = df["Età"].apply(lambda x: "X" if x > 17 else "")
df["Eta>20"]    = df["Età"].apply(lambda x: "X" if x > 20 else "")

In [8]:
df.to_csv("clienti.csv", index=False)